@import url(../estilos.css);
section{
    float: left;
    width: 45%;
    margin-left: 2em;
}
#links{
    list-style-type: none;
    width: 100%;

}
#links li{
    width: fit-content;
    float: left;


}
#links li:last-child{
    border-left: 3px solid #C1CED9;
    padding-left: 6em;
    margin-left: 6em;
}
img{
    width: 400px;
}
#desc{
    display: flex;
    height: 300px;
    flex-direction: column;
    justify-content: space-between;
}
#desc h1:first-child{
    border-bottom: 2px solid #0E3159;
    padding-bottom: 3px;
    width: fit-content;
}
#desc h1:last-child{
    margin-left: 65%;
    width:fit-content;
    border-top: 2px solid #0E3159;
    padding-top: 3px;
}
@media (max-width: 1020px){

    main{
        display: flex;
        flex-direction: column;
    }

}