@import url(estilos.css);

#contenido{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    line-height: 3rem;

    text-align: center;
    width: 40rem;
    font-size: 72px;
}
span{
    font-size: 42px;
}